// client/stylesheets/app.styl

@import 'nib'

html, body
  height 100%

#fullscreen_bg
  height 100%
  background url(mountain.jpg) no-repeat center center fixed
  background-size cover

.vertical-middle
  position relative
  top 25%
  transform translateY(-50%)

.padding-1
  padding 10px !important

.form-control
  margin-bottom 1px !important

.heading-height
  height 70px !important